/* CSS RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;

}
/* Navigation Section  */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: rgb(68, 67, 67);
}
p{
    color: #555;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 42%;
    min-width: 89px;
    margin-left: 97px
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:20px 0;
}
.btn{
    display: inline-block;
    color: #fff;
    border: 1px solid white;
    background-color:#2083F8;
    padding: 10px 25px;
    margin: 11px 0;
    border-radius: 30px;
    transition: 0.4s;
}
.btn:hover{
    color: black;
    background: #dbcaca;
}
.header{
    background: radial-gradient(#fff,#00ffb8);
}
/* .header .row{
    margin-top: 30px;}  */


/* -----Categories section---- */

.categories{
    margin: 70px 0;
}
.categories .col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 20px;
    box-shadow:0 0 20px 0  rgba(0, 0, 0, 0.15);
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

/* ----latest Product--- */
/* .latest-product{
    /* background: radial-gradient(rgb(241, 215, 215), #ffb5b5); }*/


.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
    margin-bottom: 20px;
    transition:transform 0.5s;
    box-shadow:0 0 20px 0  rgba(0, 0, 0, 0.13);
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(87, 87, 87);
}
h4 {
    font-weight: normal;
    }
p{
    color: #555;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* ----testimonial Section--- */
.testimonial{
    padding-top: 100px;
}
.col-5{
    flex-basis: 25%;
    min-width: 200px;
}
.col-5 img{
    width: 100%;
    margin: 12px;
    border-radius: 50%;
}
.testimonial .col-5{
    text-align: center;
    padding: 20px 25px;
    box-shadow:0 0 20px 0  rgba(0, 0, 0, 0.13);
    cursor: pointer;
    transition: transform 0.4s;
}

.testimonial img{
    width: 170px;
}
.testimonial .col-5:hover{
    transform: translateY(-10px);
}
.col-5 p{
    font-size: 15px;
    color: #777;
}
.col-5 h3{
    width: 100%;
   text-align: center;
    color: #3a3a3a;
}
/* ---------Footer------ */
.footer{
    background: #000;
    color: #8a8a8a;
    padding: 22px 21px 5px 34px;
    font-size: 15px;
    margin-top: 50px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 80px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul li {
list-style: none;
}
.app-logo{
    margin-top: 10px;
}
.app-logo img{
    width: 150px;
}
.footer, .copyright{
    text-align: center;
    color: #555;
}
.footer hr {
    margin-bottom: 13px;
    background: #b5b5b5 ;
}

.menu-icon{
    width: 25px;
    margin-left: 20px;
    visibility: hidden;
}

/* -----media queries of navbar--------- */
@media only screen and (max-width:800px){
    nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;

    }
    nav ul li {
       display: block;
       margin-right: 50px;
       margin-top: 10px;
       margin-bottom: 10px;
      }
}

/* ----Payment Gateway----- */
.payment{
    margin-top: 20px;
    margin-bottom: 20px;
        height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-container{
    width: 400px;
    /* background-color: rgb(197, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-8{
    flex-basis: 30%;
    min-width: 350px;
    box-shadow:0 0 20px 0  rgba(0, 0, 0, 0.25);
}
.col-8 img{
    width: 100%;
    padding: 20px;
}
.col-8 h2{
    text-align: center;
    font-size: 20px;
    color: #555;
}
.col-8 .username{
    display: block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

    
}
.col-8 .btn{
    text-align: center;
}
.col-8 p{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

